table.factura {
  border-style: solid;
  border-collapse: collapse;
  width: 80%;
}

table.factura td{
    border:1px solid black;
    vertical-align: middle;
    height:40px;
}

table.factura .head1 {
  background-color: #c5c5c5;
  font-weight: bolder;
}

table.factura .quarter {
    width: 25%;
}

table.factura .bold {
    font-weight: bolder;
}
